body{
    font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
}

b{
    font-weight:bold;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right:1em;
    margin-right:0px;
    margin-left: 0px;
    margin-top:0px;
    margin-bottom:10px;
    align-items: center;
    border-bottom: 3px solid #000;
    background-color: white;
}

header h1{
    font-size:30px;
}

header nav ul{
    display: flex;
}

header nav ul li a{
    
    font-size: 25px;
    margin-left: 20px;
    text-align: center;
}

header nav ul li a:hover{
    text-decoration:underline;
}

.container{
    margin-top: 16px;
    margin-right: 25px;
    margin-bottom: 16px;
    margin-left: 25px;
}

.container h1{
    font-size:40px;
    font-weight:bold;
    background-color: white;
}

.container .content{
    width:100%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.25), 0 2px 3px 0 rgba(0,0,0,.25);
    border-radius: 10px;
    transition: .3s;
    background: white;
}
.container .content:hover{
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.25), 0 0 5px rgba(0,0,0,.25);
    transform: translateY(-4px);
}

.container .content .article_title{
    margin-top:10px;
    font-size:27px;
    margin-left:25px;
    margin-right:25px;
    font-weight: bold;
    border-bottom: 3px solid rgb(11, 90, 104);
}

.container .content .article_date{
    margin-bottom:10px;
    font-size:12px;
    margin-left: 25px;
    color:#666666;
}

.copy{
    justify-content: center;
    text-align: center;
    background: #808080;
    color:#fff;
    font-size: 12px;
    padding: 7px 0 3px;
}

/*スライドの矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -4.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -4.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}